@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="section-padding">
        <div class="container">
            <div class="text-center mb-5">
                <h1 class="section-title" data-aos="fade-up">Nasi Instruktorzy</h1>
                <p class="section-subtitle" data-aos="fade-up" data-aos-delay="100">
                    Poznaj naszą doświadczoną kadrę instruktorską
                </p>
            </div>

            <div class="row">
                <div class="col-md-4" data-aos="fade-up">
                    <div class="instructor-card">
                        <div class="instructor-image">
                            <img src="~/content/images/inst-01.jpg" alt="Anna Kowalska">
                        </div>
                        <h3 class="instructor-name">Anna Kowalska</h3>
                        <div class="instructor-title">Instruktor PZJ</div>
                        <p class="instructor-description">
                            Specjalistka od ujeżdżenia z 15-letnim doświadczeniem w szkoleniu jeźdźców.
                        </p>
                        <ul class="instructor-specialties">
                            <li>Ujeżdżenie</li>
                            <li>Praca z początkującymi</li>
                            <li>Przygotowanie do zawodów</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="instructor-card">
                        <div class="instructor-image">
                        <img src="~/content/images/inst-02.jpg" alt="Piotr Nowak">
                        </div>
                        <h3 class="instructor-name">Piotr Nowak</h3>
                        <div class="instructor-title">Trener Sportowy</div>
                        <p class="instructor-description">
                            Były zawodnik kadry narodowej, specjalista od skoków przez przeszkody.
                        </p>
                        <ul class="instructor-specialties">
                            <li>Skoki przez przeszkody</li>
                            <li>Trening sportowy</li>
                            <li>Przygotowanie kondycyjne</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="instructor-card">
                        <div class="instructor-image">
                        <img src="~/content/images/inst-03.jpg" alt="Maria Wiśniewska">
                        </div>
                        <h3 class="instructor-name">Maria Wiśniewska</h3>
                        <div class="instructor-title">Instruktor Rekreacji</div>
                        <p class="instructor-description">
                            Specjalistka od pracy z dziećmi i młodzieżą, prowadzi zajęcia rekreacyjne.
                        </p>
                        <ul class="instructor-specialties">
                            <li>Jazda rekreacyjna</li>
                            <li>Zajęcia dla dzieci</li>
                            <li>Hipoterapia</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>