@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="section-padding">
    <div class="container">
        <div class="text-center mb-5">
            <h1 class="section-title" data-aos="fade-up">Nasze Konie</h1>
            <p class="section-subtitle" data-aos="fade-up" data-aos-delay="100">
                Poznaj naszych czworonożnych przyjaciół, którzy pomogą Ci w nauce jeździectwa
            </p>
        </div>

        <div class="row">
            <div class="col-md-4" data-aos="fade-up">
                <div class="horse-card">
                    <img src="~/content/images/horse-01.jpg" alt="Książę" class="horse-image">
                    <div class="horse-info">
                        <h3 class="horse-name">Książę</h3>
                        <p class="horse-description">
                            Spokojny i doświadczony wałach, idealny dla początkujących jeźdźców.
                        </p>
                        <ul class="horse-details">
                            <li>Rasa: Wielkopolski</li>
                            <li>Wiek: 12 lat</li>
                            <li>Poziom: Początkujący/Średniozaawansowany</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                <div class="horse-card">
                    <img src="~/content/images/horse-02.jpg" alt="Luna" class="horse-image">
                    <div class="horse-info">
                        <h3 class="horse-name">Luna</h3>
                        <p class="horse-description">
                            Energiczna klacz sportowa z doświadczeniem w skokach przez przeszkody.
                        </p>
                        <ul class="horse-details">
                            <li>Rasa: Hanowerska</li>
                            <li>Wiek: 9 lat</li>
                            <li>Poziom: Zaawansowany</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                <div class="horse-card">
                    <img src="~/content/images/horse-03.jpg" alt="Wicher" class="horse-image">
                    <div class="horse-info">
                        <h3 class="horse-name">Wicher</h3>
                        <p class="horse-description">
                            Wszechstronny koń sportowy, świetny w ujeżdżeniu i skokach.
                        </p>
                        <ul class="horse-details">
                            <li>Rasa: Holsztyński</li>
                            <li>Wiek: 10 lat</li>
                            <li>Poziom: Średniozaawansowany/Zaawansowany</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
