<container>
    <section class="hero-section">
        <div class="hero-content">
            <h1 class="section-title">@ViewBag.Title</h1>
            <p class="section-subtitle">@ViewBag.Subtitle</p>
            <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="About">Poznaj Nas Bliżej</a>
        </div>
    </section>
</container>

